<f:layout name="Default"/>
<f:section name="meta">

</f:section>
<f:section name="header">
    <header class="page-header">
        <f:render partial="Page/Menu" arguments="{_all}"/>
    </header>
</f:section>

<f:section name="main">
    <main class="page-content" id="standard-page">
        <div class="container">
            <div class="row">
                <div class="col">
                  <f:format.raw>{main}</f:format.raw>
                  <f:format.raw>{aside}</f:format.raw>
                </div>
            </div>
        </div>
    </main>
</f:section>

<f:section name="footer">
    <footer class="page-footer">
        <f:render partial="Page/Footer" arguments="{_all}"/>
    </footer>
</f:section>